### 1. Create a program that asks the user to enter their name and their age. Print out a message that tells them the year that they will turn 100 years old

In [1]:
import os
import numpy as np
import pandas as pd
from datetime import date

In [2]:
age = input('Enter your age : ')

Enter your age : 39

In [3]:
todays_date = date.today()
curr_year = todays_date.year
rem_year = 100 - int(age)
year_to_reach_100 = int(curr_year) + rem_year
print("Remaining age to reach your 100 years is : ", rem_year)
print("You will reach 100 years in the age of :", year_to_reach_100)

Remaining age to reach your 100 years is :  61
You will reach 100 years in the age of : 2083

### 2. What is pandas groupby? Demonstrate with your own example

In [4]:
# pandas group by is grouping the values in the array or a DF and printing it in the output. i have achieved it using value_counts function
grp_data = ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders']
df = pd.DataFrame(grp_data)
df.value_counts()

Riders    4
Kings     3
Devils    2
Royals    2
kings     1
dtype: int64

In [5]:
# Tried with the group by function in Pandas using dictionary but not able to achieve desired result
grp_data = {'Teams': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders']
            , 'Players_count': [1,2,3,4,5,6,7,8,9,10,11,12]}
df = pd.DataFrame(grp_data)
gk = df.groupby('Teams').groups
gk

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

### 3. How to create a dataframe from list?

In [6]:
# previous question (Question no 2), i have created dataframe using the list called grp_data
type(df)

pandas.core.frame.DataFrame

In [8]:
list1 = [[1,'Koti'],[2,'Saran'],[3,'Rakshan']]
df1=pd.DataFrame(list1, columns=['S.no','Name'])
print(df1)

   S.no     Name
0     1     Koti
1     2    Saran
2     3  Rakshan

### 4. What are the ways to combine the dataframe in pandas. Give an example for each

In [10]:
# Ways to combine the dataframe in pandas
# 1. Merge
# 2. concatenation
# 3. Append

# 1. Merge
dict1={'Name':['Kote','Saran','Rakshan'],
       'Id':[1,2,3],
      'Subject_Id':['Maths','English','Tamil']}
df_dict1=pd.DataFrame(dict1)
print(df_dict1)
dict2={'Name':['Gopi','Ramya','Shree'],
       'Id':[1,2,3],
      'Subject_Id':['Maths','English','Tamil']}
df_dict2=pd.DataFrame(dict2)
print(df_dict2)
merge_ex = pd.merge(df_dict1, df_dict2, on = 'Subject_Id')
print(merge_ex)

      Name  Id Subject_Id
0     Kote   1      Maths
1    Saran   2    English
2  Rakshan   3      Tamil
    Name  Id Subject_Id
0   Gopi   1      Maths
1  Ramya   2    English
2  Shree   3      Tamil
    Name_x  Id_x Subject_Id Name_y  Id_y
0     Kote     1      Maths   Gopi     1
1    Saran     2    English  Ramya     2
2  Rakshan     3      Tamil  Shree     3

In [11]:
# 2. Concatenation
pd.concat([df_dict1, df_dict2])  # Row wise operation

      Name  Id Subject_Id
0     Kote   1      Maths
1    Saran   2    English
2  Rakshan   3      Tamil
0     Gopi   1      Maths
1    Ramya   2    English
2    Shree   3      Tamil

In [12]:
pd.concat([df_dict1, df_dict2], axis = 1)  # column wise operation

      Name  Id Subject_Id   Name  Id Subject_Id
0     Kote   1      Maths   Gopi   1      Maths
1    Saran   2    English  Ramya   2    English
2  Rakshan   3      Tamil  Shree   3      Tamil

In [13]:
# 3. Append
df_dict1.append(df_dict2)

      Name  Id Subject_Id
0     Kote   1      Maths
1    Saran   2    English
2  Rakshan   3      Tamil
0     Gopi   1      Maths
1    Ramya   2    English
2    Shree   3      Tamil

### 5. What is the difference between list and tuples in Python?

In [15]:
# Lists and Tuples store one or more objects or values in a specific order. The objects stored in a list or tuple can be of any type.
# Lists are surrounded by square brackets [] and uples are surrounded by parenthesis ()
# list can be changed or modified after its creation according to needs whereas tuple has immutable nature.
list_num = [1,2,3,4,5]
tup_num = (1,2,3,4,5)
print("The list values are :", list_num)
print("the tuple values are :", tup_num)
print("Type of list_num :" , type(list_num))
print("Type of tup_num :" , type(tup_num))

The list values are : [1, 2, 3, 4, 5]
the tuple values are : (1, 2, 3, 4, 5)
Type of list_num : <class 'list'>
Type of tup_num : <class 'tuple'>

In [16]:
# tyring to modify the elements in List and tuple to show the tuple is immutable
print("The old list values are :", list_num)
list_num[3] = 7
print("The new values in list are :", list_num)

print("The old tuple values are :", tup_num)
tup_num[3] = 7
print("The new values in tuple are :", list_num)

The old list values are : [1, 2, 3, 4, 5]
The new values in list are : [1, 2, 3, 7, 5]
The old tuple values are : (1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

### 6. Find out the mean, median and standard deviation of this numpy array -> np.array([1,5,3,100,4,48])

In [17]:
x = np.array([1,5,3,100,4,48])
print("The mean is :", np.mean(x))
print("The Median is :", np.median(x))
print("The Standard Deviation is :", np.std(x))

The mean is : 26.833333333333332
The Median is : 4.5
The Standard Deviation is : 36.59424666377065

### 7. How will you remove duplicate elements from a list?

In [18]:
# Using Unique function in numpy
my_list = [1,2,2,3,3,4,5,5,5,1,2,4,7,3,5]
list_without_dup = np.unique(my_list)
print(list_without_dup)

[1 2 3 4 5 7]

In [19]:
# Using set function
list_without_dup1 = set(my_list)
print(list_without_dup1)

{1, 2, 3, 4, 5, 7}

In [20]:
type(list_without_dup)

numpy.ndarray

In [21]:
type(list_without_dup1)

set

### 8. What is a map() function in Python? Give an example

In [22]:
# Python map() applies a function or an operation on all the items of an iterator given as input

In [27]:
def myMapFunc(n):
    return n*n

my_list2 = [2,3,4,5,6]
print("The existing list is :", my_list2)
map_exp = map(myMapFunc, my_list2)
print("The updated list is :", list(map_exp))

The existing list is : [2, 3, 4, 5, 6]
The updated list is : [4, 9, 16, 25, 36]

###  9. What is pass in Python?

In [28]:
# The pass statement is used as a placeholder for future code. 
# When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed.

def sampleFunc(n):
    pass

my_list3 = [2,3,4,5,6]
print("The existing list is :", my_list3)
pass_exp = map(sampleFunc, my_list3)
print("The list values after using PASS statement is :", list(pass_exp))

The existing list is : [2, 3, 4, 5, 6]
The list values after using PASS statement is : [None, None, None, None, None]

### 10. What is vstack() in numpy? Give an example

In [29]:
# The vstack() function is used to stack arrays in sequence vertically (row wise).
x = np.array([1, 2, 3, 4, 5])
y = np.array([6, 7, 8, 9, 10])
z = np.vstack((x,y))
print("The array value for x is :", x)
print("The array value for y is :", y)
print("The vstack array value for x & y is :", z)

The array value for x is : [1 2 3 4 5]
The array value for y is : [ 6  7  8  9 10]
The vstack array value for x & y is : [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [30]:
x1 = np.array([[1], [2], [3], [4],[ 5]])
y1 = np.array([[6], [7], [8], [9], [10]])
z1 = np.vstack((x1,y1))
print("The array value for x1 is :", x1)
print("The array value for y1 is :", y1)
print("The vstack array value for x1 & y1 is :", z1)

The array value for x1 is : [[1]
 [2]
 [3]
 [4]
 [5]]
The array value for y1 is : [[ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]
The vstack array value for x1 & y1 is : [[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]